<html>

<body>
    <div id="main">
        <h1>Connection:</h1>
        <a id="start_demo" class="btn btn-lg btn-success py-1" href="#" role="button">Connect To WS</a>
        <h1>Messages From Server:</h1>
        <div id="messages">
        </div>
    </div>
    <div id="stats">
        <h1>Stats:</h1>
        <div class="p-3 mb-2 bg-secondary" id="demo-div">
            <p style="margin-top:1rem;">Num. of datapoints: <span class="badge badge-warning"
                    id="num-observed-events">0</span></p>

            <h4 style="margin-top:0.75rem;">Orientation</h4>
            <ul>
                <li>X-axis (&beta;): <span id="Orientation_b">0</span><span>&deg;</span></li>
                <li>Y-axis (&gamma;): <span id="Orientation_g">0</span><span>&deg;</span></li>
                <li>Z-axis (&alpha;): <span id="Orientation_a">0</span><span>&deg;</span></li>
            </ul>

            <h4>Accelerometer</h4>
            <ul>
                <li>X-axis: <span id="Accelerometer_x">0</span><span> m/s<sup>2</sup></span></li>
                <li>Y-axis: <span id="Accelerometer_y">0</span><span> m/s<sup>2</sup></span></li>
                <li>Z-axis: <span id="Accelerometer_z">0</span><span> m/s<sup>2</sup></span></li>
                <li>Data Interval: <span id="Accelerometer_i">0</span><span> ms</span></li>
            </ul>

            <h4>Accelerometer including gravity</h4>

            <ul>
                <li>X-axis: <span id="Accelerometer_gx">0</span><span> m/s<sup>2</sup></span></li>
                <li>Y-axis: <span id="Accelerometer_gy">0</span><span> m/s<sup>2</sup></span></li>
                <li>Z-axis: <span id="Accelerometer_gz">0</span><span> m/s<sup>2</sup></span></li>
            </ul>

            <h4>Gyroscope</h4>
            <ul>
                <li>X-axis: <span id="Gyroscope_x">0</span><span>&deg;/s</span></li>
                <li>Y-axis: <span id="Gyroscope_y">0</span><span>&deg;/s</span></li>
                <li>Z-axis: <span id="Gyroscope_z">0</span><span>&deg;/s</span></li>
            </ul>
        </div>

    </div>
</body>
<script>

    const accelerometerLimit = 10.0;
    const wsClientId = navigator.userAgent
    var ws = null;

    function handleOrientation (event) {
        updateFieldIfNotNull('Orientation_a', event.alpha);
        updateFieldIfNotNull('Orientation_b', event.beta);
        updateFieldIfNotNull('Orientation_g', event.gamma);
        incrementEventCount();
    }

    function incrementEventCount () {
        let counterElement = document.getElementById("num-observed-events")
        let eventCount = parseInt(counterElement.innerHTML)
        counterElement.innerHTML = eventCount + 1;
    }

    function updateFieldIfNotNull (fieldName, value, precision = 10) {
        if (value != null)
            document.getElementById(fieldName).innerHTML = value.toFixed(precision);
    }

    function handleMotion (event) {

        const main = document.querySelector('#main')
        main.textContent

        updateFieldIfNotNull('Accelerometer_gx', event.accelerationIncludingGravity.x);
        updateFieldIfNotNull('Accelerometer_gy', event.accelerationIncludingGravity.y);
        updateFieldIfNotNull('Accelerometer_gz', event.accelerationIncludingGravity.z);

        updateFieldIfNotNull('Accelerometer_x', event.acceleration.x);
        updateFieldIfNotNull('Accelerometer_y', event.acceleration.y);
        updateFieldIfNotNull('Accelerometer_z', event.acceleration.z);

        updateFieldIfNotNull('Accelerometer_i', event.interval, 2);

        updateFieldIfNotNull('Gyroscope_z', event.rotationRate.alpha);
        updateFieldIfNotNull('Gyroscope_x', event.rotationRate.beta);
        updateFieldIfNotNull('Gyroscope_y', event.rotationRate.gamma);
        incrementEventCount();

        if (
            Math.abs(event.acceleration.x) > accelerometerLimit ||
            Math.abs(event.acceleration.y) > accelerometerLimit ||
            Math.abs(event.acceleration.z) > accelerometerLimit) {
            ws.send(`slap?id=${wsClientId}`)
        }
    }

    let demo_button = document.getElementById("start_demo");
    demo_button.onclick = (e) => {
        // Request permission for iOS 13+ devices
        if (DeviceMotionEvent && typeof DeviceMotionEvent.requestPermission === "function") {
            DeviceMotionEvent.requestPermission();
        }

        window.addEventListener("devicemotion", handleMotion);
        window.addEventListener("deviceorientation", handleOrientation);

        ws = new WebSocket('ws://{{ip}}:8765', "my-custom-protocol");
        ws.onopen = () => {
            ws.send(`login?id=${wsClientId}`)
        }
        ws.onmessage = (event) => {
            const main = document.querySelector('#messages')
            main.innerHTML += `<div>${event.data.toString()}</div>`;
            console.log(event.data);
        };
    };
</script>

</html>